<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Página de Índice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        
        h1 {
            color: blue;
        }
        
        p {
            color: green;
        }
        
        a {
            text-decoration: none;
            color: red;
        }
    </style>
</head>
<body>
    <h1>Bem-vindo à página de índice!</h1>
    <p>Esta é uma página de exemplo.</p>
    
    <a href="cadastropessoa">Cad.Pessoa</a>
</body>
</html>
